body{
	margin:0 auto;
	background:#0079BF;
	font-family: 'Source Sans Pro', sans-serif;
}

/*estilos del documento*/
body {
	background: #0c68c1;
	font-family: helvetica;
	margin: 0 auto;
	
}
/*estilos de la barra de navegacion*/
nav {
	background: #0a59a4;
	padding: 5px;
}

.list1 {/*contiene titulo tableros, input*/
	list-style: none;
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
}

.list1 li {
	display: inline-block;
	color: #fff;
}
.firstList {/*titulo tableros*/
	display: inline-block;
	background: #669dcb;
	margin-left: 5px;
	padding: 3px 10px;
	vertical-align: super;
}
.table{
	display: inline-block;
}

.secondList {¨/*contiene input de tableros*/
	display: inline-block;
	background: #669dcb;
	vertical-align: super;
	width: 200px;
    display: inline-block;
}
.secondList input {
	background: transparent;
	border: none;
	display: inline-block;
	padding: 5px 10px;
}


.thirdList {/*logo*/
	display: inline-block;
	padding-left: 20em;

}


.imgLogo{
	width: 90px;
	margin-left: 50px;
	display: inline-block;
	align-content: center;

}



.list2 {/*contiene texto reto de codigo*/
	list-style: none;
	color: #fff;
	font-size: 1em;
	font-weight: bold;
	padding-left: 20px;
}

.list2 li {
	display: inline-block;
}

.line {
	padding-left: 10px;
}


.menu {/*modifica texto mostrar menu*/
	display: inline-block;
	float: right;
	margin-right: 20px;
}
.small {
	font-size: 0.8em;
	padding: 0 10px;
}

/*estilos boton anadir una lista*/
.btn1 {
	background: pink;
	color: #FFFFFF;
	margin-left: 20px;
	border: none;
	border-radius: 2px;
	padding: 10px 35px;
	cursor: pointer;
	
	font-size: 1em;
	

}

/*cambio color de fondo y texto al pasar el cursor*/
.btn1:hover {
	background: #FFFFFF;
	color:violet;
}

/*estilo del div con el primer input*/
.divList {
	display: inline-block;
	background: #e1e3e6;
	margin-left: 10px;
	border-radius: 2px;
}

.firstInput {
	background: #d6d7da;
	display: block;
	border: 1px solid #b1b1b2;
	padding: 10px;
	margin: 5px;
	margin-bottom: 0;
	border-radius: 2px;
}

.saveButton {
	margin: 5px;
	border: none;
	border-radius: 2px;
	background: #6A0888;;
	color: #FFFFFF;
	font-weight: bolder;
	padding: 7px 15px;
}



/*estilos de la lista*/
.divCard1 {
	background: #d6d7da;
	display: inline-block;
	border-radius: 2px;
	vertical-align: top;
	margin-left: 20px;
}
.divCard1 h5 {
	margin: 3px;
	font-size: .9em;
	display: block;
	padding-bottom: 5px;
}
.linkCard {
	font-size: 15px;
    margin-left: 2px;
    text-decoration: none;
    color: gray;
    display: block;
    padding-bottom: 5px;
}
.linkCard:hover {
	text-decoration: underline;
	color:#6A0888;
}

/*estilos del div teaxtarea*/
.textDiv {
	background: #d6d7da;
	display: inline-block;
	border-radius: 2px;
	vertical-align: top;
}
.titleTextarea {
	margin: 5px;
	font-size: .9em;
}
.textArea {
	display: block;
	margin: 5px;

	padding: 0;
	border-radius: 2px;
	border: none;
}
.addButt {
	margin: 5px;
	padding: 0px;
	border: none;
    border-radius: 2px;
    background: #17a639;
    color: #fff;
    font-weight: bolder;
	padding: 7px 15px;
}
.divBox {
	background: #fff;
	margin: 5px;
	padding: 2px 0px;
	border-radius: 2px;
}
.divBox:hover {
	background: #eceff0;
}
.divBox p {
	margin: 3px;
}